
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
 
  .header {
    padding: 30px;
    text-align: center;
    background: black;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
  
  .header h1 {
    font-size: 50px;
  }
  

  .topnav {
    overflow: hidden;
    background-color: #333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
  

  .topnav a:hover {
    background-color: rgb(142, 136, 136);
    color: black;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
  


  .rightcolumn {
    float: right;
    width: 25%;
    background-color: #7e7976;
    padding-left: 20px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
   
  .rightcolumnexe {
    float: right;
    width: 25%;
    background-color: #7e7976;
    padding-left: 20px;
  }
  

  .card {
    background-color: black;
    padding: 20px;
    margin-top: 20px;
    text-align: center ;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
  
.cardexe {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
  text-align: center ;
}
  

  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(94, 92, 88);
    margin-top: 20px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }
  
  @media screen and (max-width: 800px) {
   .rightcolumn {   
      width: 100%;
      padding: 0;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
  }
  

  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
  }